
@font-face {
    font-family: 'KemcoPixelBold';
    src: url("../fonts/Kemco-Pixel-Bold.otf") format("opentype");
    /*font-weight: 900;*/
    font-style: normal;
}



/*@font-face {
    font-family: 'ford_simplified_chineseRg';
    src: url("../fonts/Antenna_Simplified_Chinese_for_Ford-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;

}*/

/*@font-face {
    font-family: 'ford_simplified_chineseRg';
    src: url('../fonts/Antenna_Simplified_Chinese_for_Ford-Regular-webfont.eot');
    src: url('../fonts/Antenna_Simplified_Chinese_for_Ford-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Antenna_Simplified_Chinese_for_Ford-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Antenna_Simplified_Chinese_for_Ford-Regular-webfont.woff') format('woff'),
    url('../fonts/Antenna_Simplified_Chinese_for_Ford-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'KemcoPixelBold';
    src: local('FontName-Regular'), url('../fonts/Kemco-Pixel-Bold.woff') format('woff');
}