html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #232323;
    font-family: 'KemcoPixelBold', Arial, Helvetica;
    font-weight: 100;
}

#wrapper {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

#wrapper #panel {
    position: absolute;
    width: 800px;
    height: 700px;
    left:0;
    right:0;
    margin: auto;
    z-index: 10;
    background-color: rgba(0,0,0,1);
    transition: transform 0.8s ease-out;
    transform: translate3d(0, -100%,0);
}

#wrapper #panel.show {
    transition: transform 0.8s ease-out;
    transform: translate3d(0, 0,0);
}

#intro {
    display: block;
    position: absolute;
    width:800px;
    height: 700px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    text-align: center;
    overflow: hidden;
    transition: transform 0.8s ease-out;
    transform: translate3d(0, 0,0);
    background-color: black;
}

    #intro #title {
        position: absolute;
        left:0;
        right:0;
        top:100px;
        margin: auto;
    }

    #intro #title #line1 {
        margin-bottom: 30px;
    }

    #intro #title #line1, #intro #title #line2 {
        display: block;
        position: relative;
    }

    #intro #title #line1 .letter, #intro #title #line2 .letter{
        display: inline-block;
        opacity: 0;
    }

    #intro #intro-donkey {
        position: absolute;
        width: 100%;
        top: 413px;
        transform: translate3d(-100%,0,0);
    }

    #intro #intro-mario {
        position: absolute;
        width: 100%;
        top: 366px;
        transform: translate3d(-100%,0,0);
    }

    #intro p {
        color: white;
        font-size: 25px;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 561px;
    }

#intro.hide {
    transition: transform 0.8s ease-out;
    transform: translate3d(0, -100%,0);
}

#wrapper #panel #die {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    margin: -35px auto;
}

    #wrapper #panel #die.show {
        display: block;
    }

    #wrapper #panel #die img {
        padding:10px;
        transition: transform 0.4s ease-out 1s;
    }

    #wrapper #panel #die img.hide {
        transition: transform 0.4s ease-out 1s;
        transform: scale(0);
    }


#wrapper #panel #gameOver,
#wrapper #panel #win {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-color: black;
    transition: transform 0.8s ease-out;
    transform: translate3d(0, -100%,0);
}

#wrapper #panel #gameOver.show,
#wrapper #panel #win.show
{
    transition: transform 0.8s ease-out;
    transform: translate3d(0, 0,0);
}

#wrapper #panel #gameOver #gameoverImg,
#wrapper #panel #win #winImg {
    position: relative;
    width: 100%;
    height: 70%;
    margin: 60px auto 30px auto;
    background-size: cover;
    background: url("../images/win.gif") no-repeat center center;
    background-size: cover;
}
#wrapper #panel #win .mariojump {
    position: absolute;
    left: 40%;
    top: 20%;
    width: 25%;
    transition: transform 10s ease-out;
    transform: translate3d(0, 120%,0);
}
    #wrapper #panel #win .mariojump.start {
        transform: translate3d(0, -20%,0);
    }

#wrapper #panel #gameOver #gameoverImg {
    background: url("../images/gameover.jpg") no-repeat center center;
    background-size: cover;
}

#wrapper #panel #win #winImg {
}


#wrapper #panel #gameOver h1,
#wrapper #panel #win h1{
    color:white;
    text-align: center;
    font-family: 'KemcoPixelBold', Arial, Helvetica;
    font-weight: 100;
    font-size: 30px;
}

#wrapper #panel #nextLevel {
    display: table;
    opacity:0;
    width: 100%;
    height: 100%;
}

#wrapper #panel #nextLevel.show {
    opacity:1;
}

#wrapper #panel #nextLevel h1 {
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


#topBar {
    position: absolute;
    width: 800px;
    left:0;
    right:0;
    margin: auto;
    z-index: 3;
}

#marioLife {
    position: absolute;
    left: 20px;
    top: 20px;
}

#marioLife img {
    width: 20%;
    height: auto;
}

#gameLevels {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;

}

#gameLevels h1 {
    padding:0;
    margin:0;
    font-size: 28px;
}

#score {
    position: absolute;
    right:20px;
    top: 50px;
    text-align: right;
    color: white;
    font-size: 28px;
}

#gameScene {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

canvas {
    /*border: 1px solid grey;*/
    background-color: black;
    width: 800px;
    height: 700px;
}